// 左側サイドメニュの幅
$base-menu-width: 260px;
// 左側サイドメニュの背景色
$base-menu-background-color: #001527;

// トップナビゲーションバーの高さ
$base-tabbar-height: 50px;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $base-menu-background-color;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: yellowgreen;
    border-radius: 10px;
}

$base-menu-logo-height: 50px;

$base-logo-title-fontSize: 20px;